@import "tailwindcss";

@theme {
  --color-background: #f4f4f5; /* zinc-100 */
  --color-foreground: #09090b; /* zinc-950 */
  
  --color-surface: #ffffff;
  --color-surface-hover: #fafafa;
  --color-surface-active: #f4f4f5;
  
  --color-border-subtle: #e4e4e7; /* zinc-200 */
  --color-border-strong: #d4d4d8; /* zinc-300 */
  
  --color-text-muted: #71717a; /* zinc-500 */

  --color-idbi-green: #00836C;
  --color-idbi-orange: #F58220;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
